.chats {
  position: relative;
  height: 400px;
  width: 250px;
}

.chats__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background-color: #059ee0;
  height: 50px;
}

.chats__avatar {
  height: 25px !important;
  width: 25px !important;
}

.chats__search {
  display: flex;
  align-items: center;
  flex: 1;
}

.chats__search > input {
  outline: none;
  background-color: transparent;
  border: none;
  font-size: 12px;
  flex: 1;
  color: #fff;
}

.chats__search > input::placeholder {
  color: #fff;
  opacity: 1;
}

.chats__posts {
  height: 359px;
  background-color: #fff;
  box-shadow: 1px -7px 7px -6px rgba(0, 0, 0, 0.44);
  margin-top: -9px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  overflow: scroll;
}

.chats__posts::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.chats__posts {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
